@font-face {
    font-family: "reloj";
    src: url(../DS-DIGIT.TTF);
    
}

@font-face {
    font-family: "titulo";
    src: url(../Aaargh.ttf);
}

@keyframes aparecer {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

body{
    margin: 0;
}

.viewport{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to top, #4194E1 0%, #74D2D8 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Reloj{
    width:  750px;
    height: 310px;
    background-color: rgba(255, 255, 255, 0.39);
    border: 10px solid #797979;
    border-radius: 21px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*tiempo*/
/* -aqui aplico estilo tanto al div de clase tiempo como a div de clase cronometro */
.tiempo,.cronometro{
    width: 680px;
    height: 270px;
    background-color: transparent;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    animation: aparecer 0.5s ease-in-out forwards;
}

.horario{
    width: 280px;
    height: 80px;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    font-family: 'Roboto';
    font-size: 4em;
    font-weight: bold;
}

.casillaHorario{
    width: 80px;
    height: 100%;
   
}

.horarioNumero{
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #4e4e4e;
}
.puntos{
    display: inline-block;
    padding-bottom: 10px;
    color: #4e4e4e;
}

.fecha{
    height: 40px;
    width: 200px;
    
    position: absolute;
    top: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.año,.diaFecha{
    font-family: 'Roboto';
    color: #616161;
}
.ampm{
    position: absolute;
    font-size: 15px;
    font-weight: normal;
    right: -20px;
    top: 0px;
}

.menu{
    width: 50px;
    height: 270px;
    background-color: #979797;
    position: absolute;
    left: -20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.menu .icono {
    width: 25px;
    height: 25px;
    padding: 0;
    font-size: 1.3em;
    background-color: transparent;
    border: none;
}

.tiempo.desactivado{
    display: none;
}

/*clima*/
.clima.desactivado{
    display: none;
    
}

.clima{
    width: 680px;
    height: 270px;
    background-color: transparent;  
    position: relative;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40px 230px;
    font-family: 'Roboto';
    animation: aparecer 0.5s ease-in-out forwards;
}

.lugar span{
    font-weight: bold;
    color: #686666;
}
.casillasClima{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.back{
    position: absolute;
    top: 0;
    left: -20px;
    border: none;
    background-color: transparent;
}

.climaActual,.climaPosterior{
    background-color: transparent;
    border: 2px solid rgb(221, 220, 220);
    border-radius: 10px;
}
.climaActual{
    width: 190px;
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: none;
    
}
.climaActualItem{
    margin: 0;
    font-size: 0.8em;
    color: #797979;
}
.climaActual h2{
    font-size: 3.25em;
    color: #5a5a5a;
}
.climaActual div{
    height: 67px;
    display: flex;
    align-items: center;
}

.climaActual div #iconoAnimado{
    height: 100px;
}
.climaPosterior{
    width: 140px;
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.climaPosterior span{
    text-align: center;
    font-size: 13px;
}

.diaYGrados{
    font-size: 14px;
    font-weight: bold;
}
.descripcionClimaPosterior{
    color: #797979;
}


/*cronometro*/

.iconoCronometro{
    position: absolute;
    font-size: 25px;
    right: -20px;
    bottom: 10px;
}
.funcionesCronometro{
    
    width: 200px;
    
    position: absolute;
    top: 180px;
    left: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cronometro.desactivado{
    display: none;
}

.botonesCronometro{
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.iniciar ,.detener{
     width: 80px;
     height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #d1cfcf;
}
/*calendario*/