@font-face {
    font-family: "reloj";
    src: url(../DS-DIGIT.TTF);
    
}

body{
    margin: 0;
}

.pantalla{

    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
}

.botones{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    height: 50px;
    width: 500px;    
    margin-bottom: 5px;
}


.botonInicio {    
    width: 55px;
    height: 50px;
    background-color: rgb(37, 35, 49);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
    color: rgb(161, 159, 159);
    font-size: 1.5em;
    border: none;
    box-shadow: 0px 0px 30px white;
}

.botonInicio:active{
    color: rgb(153, 153, 153);
   
}

.propiedades{
    background-color: transparent;
    border: none;
    cursor: pointer;
    
}

.propiedades i{
    font-size: 2em;
}

.propiedades svg{
 font-weight: bold;   
 width: 2em;
 height: 2em;
}



.marco-reloj{
    border: 10px solid rgb(219, 186, 141);
    border-bottom-color: rgb(179, 142, 109);
    border-right-color: rgb(179, 142, 109);
    border-radius: 10px;
    background-color: black;
    width: 500px;
    text-align: center;
    box-shadow: 5px 10px 30px rgb(110, 106, 106);
    
}

.marco-reloj h1{
    font-family: "reloj";
    font-size: 7em;
    font-weight:normal;
    padding: 0.5em 0.4em;
    margin: 0;
    color:rgb(113, 133, 133);
}

.patitas{
    width: 500px;
    height: 30px;
    display: flex;
    justify-content: space-around;

}

.pata{
    width: 30px;
    height: 15px;
    background-color: black;
    border-radius: 10%;
    border-top: none;
}

